@model RoomEditModel

@{
    ViewData["Title"] = "Thêm/ Cập nhập Phòng";
}

<div class='container mt-5 text-bg-danger p-3'>
    <div class='row justify-content-center'>
        <form method="post"
              enctype="multipart/form-data"
              asp-area="Admin"
              asp-controller="Room"
              asp-action="Edit">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Id">
            @* tên phòng  *@
            <div class="row">
                <div class="col-sm-4">
                    <label asp-for="Name" class="col-sm-5  col-form-label"></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="Name">
                        <span class="text-danger"
                              asp-validation-for="Name"></span>
                    </div>
                </div>

                @* Slug*@
                <div class="col-sm-4">
                    <label asp-for="UrlSlug" class="col-sm-5  col-form-label"></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="UrlSlug">
                        <span class="text-danger"
                              asp-validation-for="UrlSlug"></span>
                    </div>
                </div>
                @* mô tả về phòng  *@

                <div class="col-sm-4">
                    <label asp-for="Description" class="col-sm-5  col-form-label"></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="Description">
                        <span class="text-danger"
                              asp-validation-for="Description"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                @* chiều rộng *@
                <div class="col-sm-4">
                    <label asp-for="Width" class="col-sm-5  col-form-label"></label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" asp-for="Width">
                        <span class="text-danger"
                              asp-validation-for="Width"></span>
                    </div>
                </div>
                @* chiều cao *@
                <div class="col-sm-4">
                    <label asp-for="Height" class="col-sm-5  col-form-label"></label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" asp-for="Height">
                        <span class="text-danger"
                              asp-validation-for="Height"></span>
                    </div>
                </div>
                @* Diện tích *@
                <div class="col-sm-4">
                    <label asp-for="Area" class="col-sm-5  col-form-label"></label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" asp-for="Area">
                        <span class="text-danger"
                              asp-validation-for="Area"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                @* Chọn giá phòng   *@
                <div class="col-sm-4">
                    <label asp-for="PriceManagementId" class="col-sm-5  col-form-label"></label>
                    <div class="col-sm-10">
                        <select class="form-control"
                                asp-for="PriceManagementId"
                                asp-items="Model.PriceManagementList">
                            <option value="">-- Chọn giá phòng --</option>
                        </select>
                        <span class="text-danger"
                              asp-validation-for="PriceManagementId"></span>
                    </div>
                </div>
                @* Chọn loại phòng  *@

                <div class="col-sm-4">
                    <label asp-for="RoomTypeId" class="col-sm-5  col-form-label"></label>
                    <div class="col-sm-10">
                        <select class="form-control"
                                asp-for="RoomTypeId"
                                asp-items="Model.RoomTypeList">
                            <option value="">-- Chọn loại phòng --</option>
                        </select>
                        <span class="text-danger"
                              asp-validation-for="RoomTypeId"></span>
                    </div>
                </div>

                @* chọn voucher  *@

                <div class="col-sm-4">
                    <label asp-for="VoucherId" class="col-sm-5  col-form-label"></label>
                    <div class="col-sm-10">
                        <select class="form-control"
                                asp-for="VoucherId"
                                asp-items="Model.VoucherList">
                            <option value="">-- Chọn voucher--</option>
                        </select>
                        <span class="text-danger"
                              asp-validation-for="VoucherId"></span>
                    </div>
                </div>
            </div>
            <div class="row">

                @if (!string.IsNullOrWhiteSpace(Model.Image))
                {
                    @* đường dẫn ảnh  *@

                    <div class="col-sm-4">
                        <label asp-for="Image" class="col-sm-5  col-form-label"></label>
                        <div class="col-sm-10">
                            <img src="/@Model.Image" alt="" class="img-thumbnail">
                        </div>
                    </div>
                }
                @* chọn file ảnh  *@
                <div class="col-sm-4">
                    <label asp-for="ImageFile" class="col-sm-5  col-form-label"></label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control" asp-for="ImageFile">
                    </div>
                </div>


                @if (!string.IsNullOrWhiteSpace(Model.Video))
                {
                    @* đường dẫn video  *@

                    <div class="col-sm-4">
                        <label asp-for="Video" class="col-sm-5  col-form-label"></label>
                        <div class="col-sm-10">
                            @* <img src="/@Model.Video" alt="" class="img-thumbnail">*@
                            <video width="320" height="240" controls>
                                <source src="/@Model.Video" type="video/mp4">
                                <source src="/@Model.Video" type="video/ogg">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                @* chọn file video  *@

                <div class="col-sm-4">
                    <label asp-for="VideoFile" class="col-sm-5  col-form-label"></label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control" asp-for="VideoFile">
                    </div>
                </div>


                @* Trạng thái phòng *@
                <div class="col-sm-4">
                    <div class="col-sm-10 offset-sm-2">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" asp-for="Status">
                            <label class="form-check-label" asp-for="Status"></label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">
                    Lưu các thay đổi
                </button>
                <a class="btn btn-danger"
                   asp-area="Admin"
                   asp-controller="Room"
                   asp-action="Index">
                    Hủy & Quay lại
                </a>
            </div>
        </form>
    </div>
</div>

@section scripts
    {
    <partial name="_ValidationScriptsPartial" />

    <script src="~/lib/speakingurl/speakingurl.min.js"></script>

    <script>
        $(function () {
            $('#Name').change(function () {
                var slug = getSlug(this.value);
                console.log(slug);
                $('#UrlSlug').val(slug).trigger('blur');
            });
        });
    </script>
}