@model PagingMetadata

@{
    var query = ViewData["Query"] as IPageQuery;
}


<div class="row">
    <div class="col-sm-12 col-md-5">
        <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
            Showing @Model.PageNumber to @Model.PageCount of @Model.TotalItemCount entries
        </div>
    </div>
    <div class="col-sm-12 col-md-7">
        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
            <ul class="pagination">
                @{


                    if (Model.IsFirstPage)
                    {
                        <li class="paginate_button page-item previous disabled" id="dataTable_previous">
                            <a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                        </li>
                    }
                    else
                    {
                        <li class="paginate_button page-item previous" id="dataTable_previous">
                            <a href="room?p=@(Model.PageNumber - 1)&ps=@Model.PageSize&@query.CreateQuery()" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                        </li>
                    }
                    <li class="paginate_button page-item active">
                        <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">@Model.PageNumber</a>
                    </li>
                    if (Model.IsLastPage)
                    {
                        <li class="paginate_button page-item next disabled" id="dataTable_next">
                            <a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">Next</a>
                        </li>
                    }
                    else
                    {
                        <li class="paginate_button page-item next" id="dataTable_next">
                            <a href="room?p=@(Model.PageNumber + 1)&ps=@Model.PageSize&@query.CreateQuery()" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">Next</a>
                        </li>
                    }
                }

               













                






            </ul>
        </div>
    </div>
</div>


